<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamentos de Angular</title>
</head>
<body>
    <div class="init">
        <h1>Fundamentos de Angular</h1>
        <h2>{{ 'REpetir?  '.repeat(5) }}</h2>
        <p>{{ 'Suma' }} {{ 3 + 3 }}</p>
        <h3>Hii {{ name }} y tengo {{ age }}</h3>
        <img class="img1" src={{myimg}} alt="">  
    </div>
    <br>
    <div class="init2">
    <h2>Propiedades</h2>
    <button [disabled]="btDisable">Send</button>
    <input type="text" [value]="person.name">
    <progress [value]="age" max="100"></progress>
        <img [src]="myimg" alt="">
    </div>
    <div class="init3">
            <h2>Eventos</h2>
            
        <button [disabled]="btDisable">Send</button>
        <button (click)="toggleButton()">Toggle button</button>
        
        <p>Edad {{ person.age }}</p>
        <button (click)="increaseAge()">Age ++</button>

        <div class="box" (scroll)="onScroll($event)">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolor consectetur nobis placeat velit ipsa libero blanditiis nisi officiis ut recusandae, est inventore, optio odit, repellat aliquid quas. Deleniti, voluptates!
            </p>
        </div>
        <p>Name {{ person.name }}</p>
        <input type="text" [value]="person.name" (keyup)="changeName($event)">
    </div>
    <div class="ini4">
         <h2>NgModel</h2>
            <p>Name {{ person.name }}</p>
            <input type="text" required="" #nameInput="ngModel" [(ngModel)]="person.name">

            <p>Age:{{ person.age }}</p>
            <input type="number" max="18" min="10" required="" #ageInput="ngModel" [(ngModel)]="person.age">
            <p>Valid {{ ageInput.valid }}</p>
    </div>
    <div class=" init5">
        <h2>ngIf</h2>
        <input type="text" required  [(ngModel)]="person.name">
        <p *ngIf="person.name  === 'isac'">Soy isac</p>
        <p *ngIf="person.name  === 'fidel' && person.age === 18; else myBlock ">Soy fidel</p>
        <ng-template #myBlock>
            <p>Soy el block</p>
        </ng-template>
    </div>
    <div class="init6">
                <h2>ngFor</h2>
        <input type="text" required  [(ngModel)]="newName" (keyup.enter)="addName() ">
        <button class="green" (click)="addName()">Add name</button>
        <ul>
            <li *ngFor="let name of names; index as i">
            {{ i }}{{".- "}}{{ name}}
            <button class="red" (click)="deleteName(i)">Delete</button>
            </li>
        </ul>
        <h2>Reto ngFor</h2>
        <div class="reto">
            <input type="text" required [(ngModel)]="newPlay" (keyup.enter)="addPlay()">
            <button class="green" (click)="addPlay()">Add Game</button>
            <ul>
                <li *ngIf="plays.length === 0"> No more plays</li>
                <li *ngFor="let play of plays; index as i" >
                    {{ i }} {{".- " }} {{ play }}
                    <button class="red" (click)="deletePlay(i)">Delete</button>
                </li>
            </ul> 
        </div>
    </div>
    <div class="init7">
            <h2>*ngFor objs</h2>
        <div class="list">
            <div *ngFor="let product of products">
                <img class="imgs" [src]="product.image" alt="orca">
                <h2>{{ product.price }}</h2>
                <p>{{ product.name }}</p>
            </div>
        </div>
    </div>
    <div class="ini8">
        <h2>ngSwitch</h2>
        <input type="text" required [(ngModel)]="person.name" />
        <div [ngSwitch]="person.name">
            <p *ngSwitchCase="'isac'">
                the person is isac
            </p>
            <p *ngSwitchCase="'fidel'">
                the person is fidel 
            </p>
            <p *ngSwitchCase="'rulo'">
                the person is rulo
            </p>
            <p *ngSwitchDefault="">
                    no hace mach
            </p>
        </div>
        <!-- <p *ngIf="person.name === 'isac'">
            The perosn is isac
        </p>
        <p *ngIf="person.name === 'fidel'"> 
            the person is fidel
        </p>
        <p *ngIf="person.name === 'rulo'"> 
            the perosn is rulo
        </p> -->
    </div>
</body>
</html>













