

.init{
    display: flex;
    justify-content: center;
    align-items: center;
}

.init > img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 20px;
}

.init2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.init2 > button {
    border-radius: 10%;
    width: 80px;
    height: 30px;
    background: greenyellow;
}
.init2 > img  {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}
.init7 {
    margin: 30px;
    padding: 10px;
}
// .init7 h2 {
//     display: flex;
//     justify-content: center;
//     font-size: 2rem;
// }

// .init7 .list {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: row;
//     margin: 15px;
// }
.box {
    height: 200px;
    width: 200px;
    overflow: auto;
    background: aqua;
}
li {
    list-style: none;
}

.green {
    background: green;
    border-radius: 10%;

}
.red {
    background: red;
    border-radius: 10%;
}

.imgs {
    width: 400px;
    height: 400px;
}
.init7 {
    margin: 10px;
    padding: 0;
}
.init7 h2 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border:  2px solid  #000;
    width: auto;
    border-radius: 10px;
}
.init7 p{
    
}

.list {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 15px;
    div {
        img {
            width: 100%;
            height: 250px;
            border-radius: 10%;
        }
        h2{
            text-align: center;
            margin: 0;
        }
    }
}

@media screen and  (min-width:400em){
    .list {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-gap: 15px;
        div {
            img {
                width: 100%;
                height: 200px;
                border-radius: 10%;
            }
            h2{
                text-align: center;
                margin: 0;
            }
        }
    }   
}